/* Nav bar style */
/* Style the links inside the navigation bar */
.topnav {
  background-color: rgb(76, 133, 160);
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(52, 86, 199);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: rgb(52, 86, 199);
  color: white;
}
/* Navbar style */







/* Footer style */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: rgb(76, 133, 160);
  color: white;
  text-align: center;
}
/* Footer style */





/* General Styles */



/* General Styles */

















/* Homepage styles */
.hometitle {
  text-align: center;
}

.homegame {
  text-align: center;
}

.homegamepic {
  height: 20%;
  width: 20%;
}
/* Homepage styles */







/* About page styles */
.aboutgame {
  text-align: center;
}
/* About page styles */








/* meew page styles */
.meewprofilepic {
    height: 20%;
    width: 20%;
}
/* meew page styles */







/* Progress page styles */
.artpics {
  height: 40%;
  width: 40%;
}
/* Progress page styles */








/* Final Game page styles */



/* Final Game page styles */