header {
	--navigation-angle-width: 0.85rem;
	--navigation-spacing: 0rem;
	--navigation-background: transparent;
	--navigation-hover-background: var(--theme-tertiary-background);
	--navigation-active-background: var(--theme-tertiary-light-background);
	--navigation-color: var(--theme-primary-color);
	
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display: flex;
	background: var(--theme-primary-background);
	user-select: none;
	z-index: 1;
}

header > div {
	height: var(--navigation-height);
}

header > div > img {
	height: 100%;
	pointer-events: none;
}

header a:not(.button) {
	position: relative;
	display: inline-flex;
	margin-right: calc(var(--navigation-angle-width) + var(--navigation-spacing));
	padding: 0 var(--page-element-padding);
	background: var(--navigation-background);
	color: var(--navigation-color);
	font-size: 1.1em;
	font-weight: 400;
	text-decoration: none;
	box-sizing: border-box;
}

header a {
	height: var(--navigation-height);
}

header a:first-of-type {
	margin-left: calc(var(--navigation-angle-width) + var(--navigation-spacing));
}

header a::before,
header a::after {
	content: '';
	position: absolute;
	top: 0;
	pointer-events: none;
}

header a::before {
	left: calc(-1 * var(--navigation-angle-width));
	border-bottom: var(--navigation-height) solid var(--navigation-background);
	border-left: var(--navigation-angle-width) solid transparent;
}

header a::after {
	right: calc(-1 * var(--navigation-angle-width));
	border-right: var(--navigation-angle-width) solid transparent;
	border-top: var(--navigation-height) solid var(--navigation-background);
}

header a:not(.button):hover {
	--navigation-background: var(--navigation-hover-background);
	
	text-decoration: none;
}

header a:active {
	--navigation-background: var(--navigation-active-background);
}

header a.active {
	--navigation-background: var(--theme-primary-dark-background);
	--navigation-color: var(--theme-primary-dark-color);
	
	font-weight: 500;
}

header a div {
	margin: auto;
}

/* Mobile Navigation Menu */
@media only screen and (max-width: 767px) {
	header {
		position: fixed;
		display: flex;
		flex-direction: column;
		top: 0;
		padding: 0 calc(var(--page-element-padding) * 2);
		height: 100vh;
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
		transform: translateX(-100%);
		transition: transform 150ms;
	}
	
	header:focus,
	header:hover {
		transform: translateX(0);
	}
	
	header::after {
		content: '';
		position: fixed;
		width: var(--navigation-height);
		height: var(--navigation-height);
		top: 0;
		right: 0;
		background: var(--theme-primary-dark-background);
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: center;
		background-size: calc(var(--navigation-height) / 2);
		transform: translateX(100%);
	}
	
	header:focus::after,
	header:hover::after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
	}
	
	header:focus::after {
		pointer-events: none;
	}
	
	header a:not(.button) {
		margin: 0;
	}
}
