<header tabindex="0">
	<div><img src='{{site.baseurl}}/assets/navigation_logo.png' alt='MEEWStudios Logo' title='MEEWStudios Logo'></div>
	<a href='{{site.baseurl}}/'><div>Home</div></a>
	<a href='{{site.baseurl}}/team'><div>Team</div></a>
	<a href='{{site.baseurl}}/game'><div>Game</div></a>
	<a href='{{site.baseurl}}/concept'><div>Concept Art</div></a>
	<a href='{{site.baseurl}}/development/' data-loose><div>Development Blog</div></a>
	<a href='https://github.com/MEEWStudios/microwalvo' style='margin-left: auto; margin-top: auto;'><div>GitHub Repository</div></a>
</header>